.container {
  margin: 0;
  padding: 0;
  width: auto;
}

/* nav.navbar.bg-body-tertiary {
  position: relative;
  margin-bottom: 25px;
  background: rgb(56, 204, 56);
} */

.card {
  margin: 15px;
  padding: auto;
}

.card-img-top {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  width: auto;
  height: 300px;
}

b {
  color: green;
}

.tombol {
  margin-bottom: 5px;
}

button#backBtn {
  display: none;
}

div#fakturOrder {
  top: 50px;
  margin-left: 25%;
}
